/* html{
	font-size: 16px;
	
}
 */
.about-section{
	padding: 80px 0;
}
.about li{
	list-style: none;
}
.about i{
	color: blue;
}
.about-content p{
	font-size: 16px;
	line-height: 26px;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
	z-index: 99;
	background-color: #fff;
	border-bottom: 1px solid #e6f2fb;
}
.mobile-menubar{
	text-align: end;
	padding-top: 15px;
}
.menubar-btn i{
	color: black;
}
.nav-menu .nav-bar{
	text-align: center;
	padding: 16px;
	margin:0;
} 
/* .header-logo a{
	color: #16507b !important;
	font-family: poppins;
} */
/* .header-logo a:hover{
	color: #2487ce;
} */
.header-logo h1{
	font-size: 32px;
	color: #16507b;
	
}
.dropdown, .dropdown-sub{
	position: relative;
}
.nav-dropdown, .dropdown-sub-nav{
	position: absolute;
    top: 100%;
	right: 0;
	background-color: white;
	min-width: 180px;
	padding: 10px 0;
    opacity: 0; 
	visibility: hidden;
    transform: translateY(30px);
    transition: all 0.3s ease;	
}
.dropdown-sub-nav{
	left: 96%;
    top: 0;
	transform: translateX(-20px, 0px);
}
.nav-dropdown >li > a, .dropdown-sub-nav > li > a{
	text-decoration: none;
	display: block;
	color: #16507b;
	font-size: 15px;
	text-align: left;
	line-height: 2;
	padding: 0 12px;
	transition: all 0.3s ease;
}
.nav-dropdown >li > a >i, .dropdown-sub-nav > li > a  		>i{
	position: absolute;
	top: 28%;
	right: -2px;
	transform: translateY(-50);
}
.dropdown-sub > a > i{
	margin-left: 10px;
}
 .nav-dropdown >li > a:hover, .dropdown-sub-nav > li > a:hover{
	
	color: #2487ce;
} 
.dropdown:hover .nav-dropdown, .dropdown-sub:hover .dropdown-sub-nav{
	opacity: 1; 
	visibility: visible;
	transform: translateY(0);
}  
.dropdown-sub .nav-dropdown .dropdown:hover{
	opacity: 1;
	visibility: visible;
}
.nav-menu li{
	display: inline-block;
}
.ps-4{
	padding-left: 2.2rem !important;
}
/* .nav-menu{
	align-items: center;
	padding: 3px 18px;
} */
.nav-menu a{
    color: #16507b;
}	
.nav-menu a:hover{
	color: #469fdf;
}
.offcanvas-end{
	top: 50px;
	right: 0;
	width: 100%;
	height: 553px;
	border: 1px solid rgba(0,0,0, 0.2);
	transform: translateX(100%);
}
.offcanvas-body li{
	padding: 4px 0;
}
.navmenu-bar a{
	padding-bottom: 12px;
}
 .navmenu-button{ 
    display: flex;
 } 
.nav-button{
    padding: 12px 0;
}
.nav-button:hover{
	opacity: 0.8;
}
.nav-bar .active{
    color: #2487ce;
}
.btn{
   background: #2487ce!important;
}
 .fs-3{
	font-size: 3.75rem!important;
}
.onepage{
	color: #124265;
	font-size: 60px;
	line-height: 80px;
	padding: 18px 164px;
}
.we{
	color: #5e5e5e;
	font-family: Raleway, sans-serif;
}
/* .nav-menu{
	align-items: center;
}	 */
.text-secondary{
	color: #16507b !important;
}
.banner-section{
	/* padding: 0  40px; */
	background-image: linear-gradient(rgb(255 255 255 / 88%),rgb(255 255 255 / 88%)), url(../image/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: top;
	background-attachment: fixed;
	padding: 168px 0 84 0;
	
}
.lorem{
	/* padding: 10px 14px; */
	box-shadow: 0 0 29px 0 rgb(18 66 101 / 8%);
	height: 100%;
}
.lorem p{
    font-size: 15px;
	line-height: 28px;
}	
.lorem i{
	color: #2487ce;
	font-size: 30px;
}
.lorem:hover{
	 transform: translateX(4px) scale(1.05); 
	/* box-shadow: 0 0 15px #80808026; */
	transition: all 0.3s ease;
}
.lorem:hover h5{
	color: #32a2e3!important;
}
.about-title{
	color: #124265 !important;
	font-size: 38px;
	font-weight: 600;
}
.about-btn button .more:hover{
	background-color: white;
	color: white;
}
.about-btn{
	padding: 6px;
}
.para{
    color: #919191 !important;
	font-size: 16px;
	padding: 20px 0;
}
.brand{
	width: 92px;
	height: auto;
}
.data {
	color: #124265 !important;
	font-size: 19px;
}
.bg-light{
	background-color: #eaf0f5 !important;
}
/* .more{
	padding: 7px 26px;
	border: 2px solid #2487ce;
	background: transparen
	border-radius: 3px;
} */
.learn{
	border: 2px solid #2487ce;
	border-radius: 3px;
	padding: 8px 34px;
	font-size: 16px;
}
.learn:hover{
	background: #2487ce;
	color: #fff;
	text-decoration: none;
}
.call-btn{
	padding: 12px 50px 46px;
}
.action{
	color:  #fff;
	font-size: 16px;
	font-weight: 600;
	border: 2px solid #fff;
	padding: 8px 26px;
	border-radius: 5px;
}
.action:hover{
	background: white;
	color: #2487ce;
}
/* .clients-section{
	padding: 60px 0;
} */
.clients{
	padding: 26px 20px;
}
.client-logo{
	display: block;
	text-align: center;
}
/* .about-section{
	padding: 40px 0;
} */
.about{
	padding: 0;
}
.ad-section{
	padding: 80px 0;
}
.ad-list{
    padding: 0;
}
.clients-section{
	background-color: #f8fbfe!important;
}
.logo-section{
	background-color: #f8fbfe!important;
}
.testimonials-section{
	padding: 80px 0;
}
/* .item{
	position: relative;
	
}
.test-box:after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	border-left: 10px solid black;
	border-right: 10px solid black;
	
	
	
} */
/* .brand{
	width: 50%;
	height: auto;
	border-radius: 50%;
	text-align: center;
} */
 .owl-carousel .owl-item img {
    display: block;  
    width: 30%;
	margin: 0 auto;
    /* margin-left:102px;  */ 
} 
.owl-dots{
	text-align:center;
}
.owl-carousel button.owl-dot{
	background-color:#fff;
	border:2px solid #2487ce;
	border-radius:50%;
	width:12px;
	height:12px;
	margin-left:6px;
}
.owl-carousel button.owl-dot.active{
	background-color: blue;
}
.question-section{
	background-color: #f8fbfe!important;
}
.saul{
	font-size: 20px;
}
.free{
	font-size: 14px;
	color: #bababa;
	padding-bottom: 12px;
	
}
.test-box{
	background: #f3f9fd !important;
}
.dots{
	text-align: center;
	padding: 20px 30px;
}
.dots .dots-box{
	display:inline-block;
	width: 10px;
	height: 10px;
    background-color: #2487ce;
	border-radius: 50%;
	margin: 5px 5px;
	cursor: pointer;
}
/*  .dots-box.active{
	background-color: #2487ce;
} */
.dots .dots-box:hover{
	background-color:  #2487ce;
} 
.quote-up{
	color: #c9e3f5;
	translate: 0px -6px;
	
} 
.quote-down{
    color: #c9e3f5;
	translate: 4px 8px;
}	
.slide{
    font-size: 15px;
	line-height: 26px;
}	
.service-section{
	background-color: #f8fbfe !important;
}
.carousel-item{
	width: 33.33%;
	height: auto;
}
.moles{
	padding: 10px 2px;
	font-size: 13px;
	line-height: 22px;
}
.service-icon{
	font-size: 32px;
	color: #47aeff;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-icon1{
	font-size: 32px;
	color: #ffa76e;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-icon2{
	font-size: 32px;
	color: #e80368;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-icon3{
	font-size: 32px;
	color: #ffbb2c;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-icon4{
	font-size: 32px;
	color: #ff5828;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-icon5{
	font-size: 32px;
	color: #11dbcf;
	width: 81px;
	height: 81px;
	background: rgb(128 128 128 / 11%);
	box-shadow: 0 0 1px rgb(128 128 128 / 96%);
}
.service-box:hover .service-icon{
	background: #47aeff;
	color: white;
}
.service-box:hover .service-icon1{
	background: #ffa76e;
	color: white;
}
.service-box:hover .service-icon2{
	background: #e80368;
	color: white;
}
.service-box:hover .service-icon3{
	background: #ffbb2c;
	color: white;
}
.service-box:hover .service-icon4{
	background: #ff5828;
	color: white;
}
.service-box:hover .service-icon5{
	background: #11dbcf;
	color: white;
}
.call-section{
	background: #2487ce;
    padding: 40px 0; 
}
.call{
	font-size: 32px;
	font-weight: 700;
	padding-top: 22px;
}
.web1{
	font-size: 16px;
	background: none;
}
.web1:hover{
	background-color: blue;
}
.portfolio-section{
	padding: 80px 0;
}
.portfolio-types a{
	color: black;
	font-size: 14px;
	font-weight: 600;
}
.portfolio-types a.active{
	color: #2487ce;
}
.portfolio-types a:hover{
	color: #2487ce;
}
.portfolio{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.portfolio img{
	display: block;
	width:100%;
	height: auto;
	transition: all 0.5s ease;
}
.portfolio .port-box{
     position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
    background-color: rgb(36, 135, 206, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 0 138px; */
    opacity: 0;
	visibility: hidden;
    transition: all 0.5s ease;	
}
 .port-box-text h4{
	font-size: 18px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: white;
	/* padding-bottom: 10px; */
}
.port-box-text h5{
	font-size: 14px;
	font-weight: 400;
	/* padding-bottom: 6px; */
} 
.port-box-text .port-icons a{
	display: inline-block;
	text-decoration: none;
	color: rgb(255 255 255 / 55%);
	font-size: 20px;
	font-weight: 200;
	padding: 0 3px;
	/* margin-right: 10px; */
}
.portfolio:hover .port-box-text .port-icons {
	transform: scale(1);
}
.port-box-text .port-icons a:hover{
	color: #fff;
	font-weight: 200;
    transform: scale(1);
}
.portfolio:hover .port-box{
	opacity: 1;
	visibility: visible;
    transform: scale(1.1);
}
.port-box:after{
	content: "";
	position: absolute;
	left: 28px;
	top: 28px;
	width: 50px;
	height: 50px;
	border-left: solid 3px #fff;
	border-top: solid 3px #fff;
	transition: all 0.2s ease;
}
.port-box:before{
	content: "";
	position: absolute;
	right: 28px;
	bottom: 28px;
	width: 50px;
	height: 50px;
	border-right: solid 3px #fff;
	border-bottom: solid 3px #fff;
	transition: all 0.2s ease;
}
.volume{
	font-size: 17px;
	padding: 12px 13px;
}
.button{
	padding-bottom: 26px;
}
.button .btnn:hover{
	background: white;
	color :blue;
}
.check{
	color: blue;
	padding: 8px;
}
.pot-box img:hover{
	background-color: blue;
}
.text-primary{
	color: #96a7bf !important;
}
.content ul li{
	list-style: none;
}
.content h3{
	color: #124265;
	font-size: 26px;
	font-weight: 600;
	
}
.profit{
	color: white;
    background: transparent; 
}
.loss{
	border: 2px solid #2487ce;
	padding: 10px 32px;
	border-radius: 5px;
}
.loss:hover{
	background: #2487ce;
	color: #fff;
	
}
.profit{
	border: 2px solid #fff;
	padding: 10px 32px;
	border-radius: 5px;
}
.profit:hover{
	background: #fff;
	color: #2487ce;
}
.num{
	color: #124265!important;
	font-size: 54px;
}
.awards{
	color: #1e6ca6!important;
}
.logos{
	padding-top: 35px;
	padding-bottom: 4px;
}
.logos img{
    filter: grayscale(100%);
	opacity: 0.5;
    transition: all 0.3s ease;	
}
.test{
	color: #124265 !important;
	font-size: 38px;
	font-weight: 600;
}
.test-box p{
	padding: 10px 20px;
	
}
 .matt{
	padding: 0 38px;
	background: white;
	
}
.service-menu{
	padding: 20px 30px;
}
.policy i{
	color: #2487ce;
	font-size: 16px;
	padding: 14px 1px;
	font-weight: 500;
}
}
.policy li{
	padding-bottom: 20px;
	/* padding-left: 10px;
	font-size: 14px; */
}
.loc-icon .bg-primary{
	background-color: #0d6efd4d !important;
}
.loc-icon i{
	width: 44px;
	height: 44px;
	text-align: center;
}
.loc{
	margin: -4px 39px;
}
.teams-icons{
	position: absolute;
	left: 0;
	bottom:0;
	width: 100%;
	text-align: center;
	/* transform: translate(-10px); */
	background: rgb(255 255 255 / 87%);
	transition: all 0.5s ease;
    opacity: 0; 
}
.teams-icons a{
	display: inline-block;
	/* padding: 7px 15px; */
	color: #124265;
	font-size: 20px;
	/* margin: 0 1px; */
	transition: all 0.5s ease;
}
.teams-icons i{
	width: 40px;
	height: 40px;
	line-height: 40px;
}
/* .team-box{
	transform: translateY(-20px);
} */
.team-box:hover .teams-icons{
	opacity: 1;
	/* transform: translateY(0);
	background: rgb(255 255 255 / 87%); */
}
.teams-icons a:hover{
	color: #2487ce;
}
.team-section{
	background-color: #f8fbfe!important;
}
.card-title{
	color: #124625 !important;
	padding: 22px;
}
.card-buy{
	padding: 22px;
}
.pricing-section{
	padding: 80px 0;
}
.price-btn{
	padding: 26px 12px;
}
.rupees{
	/* font-size: 12px; */
	color: #2487ce;
	/* font-size: 400; */
}
.month{
	font-size: 16px;
	font-weight: 200;
	color: #bababa !important;
}
.card-pass{
	font-size: 14px;
	color: #bababa !important;
}
/* .card-num{
	padding-top: 20px;
} */
.card-text{
	font-size: 14px;
}
.card-nec{
	font-size: 14px;
}
.card-pat{
	color: white;
	font-size: 14px;
}
.card-mass{
	font-size: 14px;
}
.cards{
	font-size: 14px;
}
.newyork{
	background-color: #e3f0fa;
	color: blue;
}
.loc-icon i:hover{
	background: #2487ce;
	color: white;
}
.street{
	color: #124265;
	font-weight: 600;
}
.jersey{
	color: #4891c5;
	font-size: 14px;
	padding-bottom: 20px;
}
.client-logo img:hover{
	filter: grayscale(0);
	opacity: 1;
}
.msg{
	width: 100%;
	height: 140px;
}
.states{
	color: #777777;
}
.form-control:focus{
	outline: 0;
	border: solid 1px color: #124265;
}
.work-btn{
	border: #2487ce;
	background: #2487ce;
	border-radius: 5px;
}
.work-btn a:hover{
	opacity: 0.8;
}
	
.full{
	color: #124265;
	font-weight: 500;
}
.foot{
	color: #24874e;
}
.policy{
	padding: 0;
}
.policy a{
	color: #444444;
}
.news{
	font-weight: 500;
	font-size: 20px;
}
.question-section{
	padding: 60px 0;
}
.accordion-flush .accordion-item .accordion-button{
	font-family: poppins, sans-serif;
	font-size: 18px;
}
.accordion-header{
	color: #343a40;
}
.accordion-icon{
	color: blue;
}
.accordion{
	outline: none;
}
/* .accordion-item .active{
	color: #2487ce;
} */
/* .accordion-button:hover{
	color: #2487ce;

} */
.accordion-button:focus{
	z-index:0;
	border-color: none;
	outline: 0;
	box-shadow: none
}
.accordion-button:not(.collapsed) {
	background: none;
}
.accordion-body{
	text-align: left;
	
}
.accordio-icon:hover{
	color: #2487ce;
}
.contact-section{
	padding: 80px 0;
}
.footer-section{
	background: #fff;
	padding: 44px 0;
	box-shadow: 0 2px 7px rgb(128 128 128 / 94%);
}
.footer-icons{
	padding: 0 26px;
}
.footer-icons i{
	padding: 8px 8px;
}
.footer-icons a:hover{
	opacity: 0.8;
}
 .cpy-info{
	background-color: #f8fbfe!important;
} 
.subscribe-type{
	position: relative;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	padding: 6px 99px 5px 15px;
	margin-top: 36px;
	border: 1px solid #cde5f6;
}
.subscribe-type input{
	width: 100%;
	height: 35px;
	border-radius: 4px;
	border: none; 
	
}
.subscribe-type button:hover{
	opacity: 0.9;
	cursor: pointer;
}
.subscribe-type .subscribe-button{
    position: absolute;
	top: 0;
	right: 0; 
	height: 100%;
	min-width: 100px;
	padding: 8px 10px;
	background-color: #2487ce;
	color: #fff;
	font-size: 17px;
	border: none;
	border-radius: 0;
}